* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #23252c;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 45px 0;
	font-family: 'Inter', sans-serif;
}
